/* MT Review CSS */
.gridArea {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "names ls"
    "log ls"
    "log ls"
  ;
  gap: 10px;
}

.names {grid-area: names;}
.logDetails {grid-area: log;}
.ls {grid-area: ls;}

.logUrl {
  margin: 10px 5px;
}